@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainColor: #eeeeee;
    --bgColor: #0d1117;
    --mainTextColor: #c9d1d9;
}

*{
    font-family: "Readex pro";
    line-height: 1.5em;
    box-sizing: border-box; 
}

body,a{
    background-color: var(--bgColor);
    text-align: center;
    color: var(--mainTextColor);
    margin: 0px auto 10px;
    
}
main{
    display: block;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

h3{ 
    margin-top: 20px;
    padding-top: 20px;
    font-size: 2rem;
}

.recipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 50px;
}

.recipe{
    flex: 1;
}
.image-recipe{
    width: 350px;
    height: 450px;
    border-radius: 10px;
}
.recipe > a > img:hover{
    border-radius: 15px;
    transform: scale(1.1,1.1);
}

/*Recipes CSS*/

.all{
    margin: 30px auto;
    display: block;
    width: 50%;
    border: 2px solid #c9d1d9;
    border-radius: 5px;
    padding: 20px;
}

.description > img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #c9d1d9;
    margin-top: 20px;
}

.ingredients{
    margin: 0 auto;
}

.ingredients > ul, ol{
    text-align: left;
    
}

li{
    line-height: 1.5rem;
    margin-bottom: 15px;
}