@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainColor: #eeeeee;
    --bgColor: rgb(255,255,255);
    --mainTextColor: #333;
}

*{
    font-family: "Readex pro";
    line-height: 1.5em;
    box-sizing: border-box; 
}

body{
    background-color: var(--bgColor);
    text-align: center;
    color: var(--mainTextColor);
    margin: 0px auto 10px;
    
}
main{
    display: block;
}

#container{
    background-color: var(--mainColor);
    margin: 30px 8px;
    padding: 10px;
    border-radius: 5px;
    
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

figure{
    background-color: var(--mainColor);
    padding: 10px;
    margin: 0 auto;
}

.image{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.recipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.recipe{
    flex: 1;
}
.image-recipe{
    width: 200px;
    height: 200px;
}